<!--ion-view class="bgMain"  title="'iTunes Media Explorer'" left-buttons="leftButtons">
    <ion-content id="homeTxt" has-header="true">
        <div>
            <button class="button button-balanced icon-left ion-person-add" ng-click="add()"></button>
            <button class="button button-assertive icon-left ion-ios7-minus" ng-click="remove()"></button>
            <div class="pad-sides" masonry="{columnWidth: 100, gutter: 5, transitionDuration: '.9s',
                        hiddenStyle: {opacity: .001, transform: 'scale(0.01)', transform: 'rotate(200deg)'},
                        visibleStyle: {opacity: 1, transform: 'rotate(200deg)'}}">
                <div class="masonry-brick" ng-repeat="singer in singers">
                    <img ng-src="{{ singer }}" alt="pop singer">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view-->


<ion-view class="bgMain" title="'BASE PhoneGap demo'" left-buttons="leftButtons">
	<ion-content has-header="true" id="beaconTxt" padding="true">
		<p>Using the of ionic framework with phonegap api.</p>		  
		<div class="list">
			<a class="item item-icon-left" href="#/tab/accelerometer"><i class="icon ion-arrow-expand"></i>Accelerometer</a>
			
			<a class="item item-icon-left" href="#/menu/beacon"><i class="icon ion-bluetooth"></i>Beacon</a>
			<a class="item item-icon-left" href="#/menu/camera"><i class="icon ion-camera"></i>Camera</a>
			<a class="item item-icon-left" href="#/menu/calendar"><i class="icon ion-calendar"></i>Calendar</a>
			<a class="item item-icon-left" href="#/menu/geolocation"><i class="icon ion-ios7-location"></i>Geolocation</a>
			<a class="item item-icon-left" href="#/menu/compass"><i class="icon ion-compass"></i>Compass</a>
			
			<a class="item item-icon-left" href="#/tab/capture"><i class="icon ion-link"></i>Capture Media</a>
			<a class="item item-icon-left" href="#/tab/connection"><i class="icon ion-wifi"></i>Connection</a>
			<a class="item item-icon-left" href="#/tab/contacts"><i class="icon ion-android-social"></i>Contacts</a>
			<a class="item item-icon-left" href="#/tab/device"><i class="icon ion-iphone"></i>Device Properties	</a>
			<a class="item item-icon-left" href="#/tab/battery"><i class="icon ion-battery-half"></i>Battery Status</a>
			<a class="item item-icon-left" href="#/tab/file"><i class="icon ion-document-text"></i>File</a>
			<a class="item item-icon-left" href="#/tab/globalization"><i class="icon ion-earth"></i>Globalization</a>
			<a class="item item-icon-left" href="#/tab/browser"><i class="icon ion-ios7-browsers"></i>In App Browser</a>
			<a class="item item-icon-left" href="#/tab/media"><i class="icon ion-ios7-musical-notes"></i>Media</a>
			<a class="item item-icon-left" href="#/tab/notification"><i class="icon ion-alert"></i>	Notification</a>
			<a class="item item-icon-left" href="#/tab/storage"><i class="icon ion-android-storage"></i>Storage</a>
		</div>
		<br /><br />
	</ion-content>
</ion-view>